@import 'nav';
@import 'btn';
@import 'icon';
@import 'images';
@import 'footer';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// Styles

body {
  background: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
}

header {
  margin-bottom: 70px;
}

header ::after {
  content: '';
  display: table;
  clear: both;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  color: #cbae86;
  margin: 0 40px 0 40px;
}

p {
  font-size: 15px;
  font-weight: 100;
  margin: 0 40px 20px 40px;
}

// home page classes

.aboutpara1 {
  font-size: 20px;
  text-align: right;
  padding-left: 190px;
  margin: 0 50px 70px 0;
}

.aboutpara2 {
  margin: 0 180px 50px 70px;
}

.aboutpara3 {
  text-align: right;
  margin: 0 50px 70px 0;
}

.aboutpara4 {
  margin: 0 100px 50px 40px;
}

.aboutpara5 {
  text-align: center;
  margin: 0px 120px 40px 120px;;
}

.about-sectionheading1 {
  margin-left: 40px;
  margin-bottom: 30px;
}

.about-sectionheading2 {
  margin: 0 50px 30px 40px;
  text-align: right;
}

// artists classes

.craigylee-section {
  border: solid 1px #121212;
  width: 90%;
  height: 485px;
  margin-left: 5%;
  position: relative;
  text-align: center;
}

.sholtocarr-section {
  border: solid 1px #121212;
  width: 90%;
  height: 485px;
  margin-left: 5%;
}

.stephmaree-section {
  border: solid 1px #121212;
  width: 90%;
  height: 485px;
  margin-left: 5%;
}

.zoeemily-section {
  border: solid 1px #121212;
  width: 90%;
  height: 485px;
  margin-left: 5%;
}

.artist-desc {
  display: none;
}

.artists-h1{
  text-align: right;
  z-index: 2;
  position: absolute;
  margin-left: 300px;
  text-transform: uppercase;
  font-size: 38px;
  color: black;
}

.artists-h2 {
  text-align: left;
  z-index: 2;
  position: absolute;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 38px;
  color: black;
}

// booking classes

.booking-h2 {
  margin: 0 0 30px 25px;
  text-transform: uppercase;
}

.booking-div {
  margin-bottom: 40px;
}

.form-name {
  margin-left: 40px;
  color: #cbae86
}

.form-name-text {
  width: 80%;
  padding: 10px;
  margin: 0px 0 10px 40px;
  background-color: #2B2B2B;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-phone {
  margin-left: 40px;
  color: #cbae86
}

.form-phone-text {
  width: 80%;
  padding: 10px;
  margin: 0 0 10px 40px;
  background-color: #2B2B2B;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-message {
  margin-left: 40px;
  color: #cbae86
}

.form-message-text {
  width: 80%;
  padding: 10px;
  margin: 0 0 10px 40px;
  background-color: #2B2B2B;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  color: white;
  margin:  10px auto 30px auto;
}

// contact classes

.contact-para {
  margin-bottom: 0px;
}

.contact-social-text {
  display: inline-block;
}

.contact--opentime--para {
  margin: 0 50px 5px 40px;
}



@media screen and (min-width: 600px) {

  // styles

  h3, p {
    margin: 0 20% 20px 15%;
  }

  .aboutpara1 {
    width: 30%;
    text-align: right;
  }

  .homeimg1 {
    width: 40%;
    margin-left: 10%;
    float: left;
  }

  // booking

  .booking-h2 {
    margin: 0 0 30px 25px;
  }

  //
  // .booking--image--div, .booking--form {
  //   display: inline-block;
  //   vertical-align: top;
  //   border: solid 1px white;
  // }

  .form-name {
    // margin-left: 40px;
  }

  .form-name-text {
    width: 40%;
    padding: 10px;
    margin: 0 0 10px 40px;
  }

  .form-phone {
    // margin-left: 40px;
  }

  .form-phone-text {
    width: 40%;
    padding: 10px;
    margin: 0 0 10px 40px;
  }

  .form-message {
    // margin-left: 40px;
  }

  .form-message-text {
    width: 40%;
    padding: 10px;
    margin: 0 0 10px 40px;
  }

}
