* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

// Top Navigation

header {
  margin-bottom: 70px;
}

header ::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  width: 200px;
  float: left;
  padding-top: 40px;
}

.topnav {
    width: 80%;
    margin: 0 auto;
}

nav {
  float: right;
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-left: 90px;
      padding-top: 80px;
       a {
         font-style: bold;
         font-size: 22px;
         color: white;
       }
    }
  }
}

 .active {
   text-decoration: underline;
 }

// Styles

body {
  background: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  color: #cbae86;
  margin: 0 40px 0 40px;
}

p {
  font-size: 15px;
  font-weight: 100;
  margin: 0 40px 20px 40px;
}

// home page classes

.homeimg1 {
  width: 90%;
  margin-bottom: 40px;
}

.homeimg2 {
  width: 40%;
  float: left;
}

.aboutpara1 {
  font-size: 20px;
  text-align: right;
  padding-left: 190px;
  margin: 0 50px 70px 0;
}

.aboutpara2 {
  margin: 0 180px 50px 70px;
}

.aboutpara3 {
  text-align: right;
  margin: 0 50px 70px 0;
}

.aboutpara4 {
  margin: 0 100px 50px 40px;
}

.aboutpara5 {
  text-align: center;
  margin: 0px 120px 40px 120px;;
}

.about-sectionheading1 {
  margin-left: 40px;
  margin-bottom: 30px;
}

.about-sectionheading2 {
  margin: 0 50px 30px 40px;
  text-align: right;
}

// artists classes

.craigylee-section {
  border: solid 1px white;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.sholtocarr-section {
  border: solid 1px white;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.stephmaree-section {
  border: solid 1px white;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.zoeemily-section {
  border: solid 1px white;
  width: 90%;
  height: 500px;
  margin-left: 5%;
}

.artist-desc {
  display: none;
}

.artists-img-1 {
  width: 70%;
  left: 30%;
  position: absolute;
}

.artists-img-2 {
  width: 70%;
  position: absolute;
}

.artists-h1{
  text-align: right;
  z-index: 2;
}

.artists-h2 {
  text-align: left;
  z-index: 2;
}

// booking classes

.booking-img {
  display: none;
}

.booking-h2 {
  margin: 0 0 30px 25px;
}

.form-name {
  margin-left: 40px;
  color: #cbae86
}

.form-name-text {
  width: 80%;
  padding: 10px;
  margin: 0 0 10px 40px;
  background-color: #2B2B2B;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-phone {
  margin-left: 40px;
  color: #cbae86
}

.form-phone-text {
  width: 80%;
  padding: 10px;
  margin: 0 0 10px 40px;
  background-color: #2B2B2B;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-message {
  margin-left: 40px;
  color: #cbae86
}

.form-message-text {
  width: 80%;
  padding: 10px;
  margin: 0 0 10px 40px;
  background-color: #2B2B2B;
  border: 0px;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  background-color: #cbae86;
  padding: 10px 30px;
  border-radius: 4px;
  border: 0px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  display: block;
  margin:  0 auto 30px auto;
}

.artist-btn {
  margin-top: 360px;
}

// contact classes

.contact-img-1 {
  display: none;
}

.contact-para {
  margin-bottom: 0px;
}

// footer

footer {
  color: #333;
  text-align: center;
  margin: 30px 0 30px 0;
  display: none;
}

@media screen and (min-width: 600px) {

  .aboutpara1 {
    width: 30%;
    text-align: right;
  }

  .homeimg1 {
    width: 40%;
    margin-left: 10%;
    float: left;
  }
}
